
<ul class="list-group">
<div><li class="list-group-item"><%= list.name %>
<div class="btn-group">
  <button type="button" class="btn btn-primary"><%= link_to 'Show', list %></button>
  <button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_list_path(list) %></button>
    <button type="button" class="btn btn-primary"><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li></button>
      <br>
</div>
</div>
</ul>
