<p id="notice"><%= notice %></p>

<h1>To-do Lists</h1>

<div class="list-box">
    <div id="list-container">
      <%= render @lists %>
    </div>
</div>

<div id="new-form-container">
</div>

<%= link_to 'New List', new_list_path, remote: true%>
