<div class="page">
  <p id="notice"><%= notice %></p>

  <h1>Listing Items</h1>

  <div id="index-items-container" >
    <%= render @items %>
  </div>

  <div id="new-item-container">
  </div>

  <%= link_to 'New Item', new_item_path, remote: true%>
</div>
