<div class="page">
  <p id="notice"><%= notice %></p>

  <h1>Listing Items</h1>

  <div id="index-items-container" >
    <%= render @items %>
  </div>

  <br>

  <%= link_to 'New Item', new_item_path %>
</div>
